<div class="logout">
    <button class="btn btn-default" style="background-color: rgb(144, 16, 170);" (click)="logout()">Logout</button>
    </div>
<div class="container" >
<p>
Are you intrested in Friday Fun activity?
</p>

<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" id="yes" name="question" [(ngModel)]="answer" [value]= "checked" mdbInput>
  <label class="form-check-label" for="yes">Yes</label>
</div>

<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" id="no" name="question" [(ngModel)]="answer" [value]="unChecked" mdbInput>
  <label class="form-check-label" for="no">No</label>
</div>
<br/>
<div >
<button class="btn btn-default" (click)="onSubmit()">Submit</button>
</div>
</div>

<br/><br/>
