input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin-left: 150px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: rgb(144, 16, 170);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
button:hover {
    opacity: 0.8;
  }
  .container {
      padding-left: 500px;
    
    padding-top: 220px;
    padding-bottom: 220px;
    width : 300px;
  }